<!DOCTYPE html>
<html>
<head>
    <title>friend List</title>
</head>
<body>
    <h1>friend List</h1>
    <table>
        <thead>
            <tr>
                <th> #id# </th>
                <th> #username# </th>
                <th> #email# </th>
                <th> #co-friend# </th>
                <th> #co-friend email# </th>
                <th> #link# </th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
            <tr>
                <td>{{ record.id }}</td>
                <td>{{ record.username }}</td>
                <td>{{ record.email }}</td>
                <td>{{ commonfriend[loop.index0].username }}</td>
                <td>{{ commonfriend[loop.index0].email }}</td>
                <td><a href="{{ url_for('friend_bp.add_friends') }}" class="btn btn-primary">add now</a></td>
            {% endfor %}
        </tbody>
    </table>
<a href="{{ url_for('user_bp.index') }}" class="btn btn-primary">index</a>
</body>
</html>