<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <form method="POST" action="#">
     <form method="POST" action="#">
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="form-group">
        <label for="password">password</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary btn-block">login</button>
</form>
 </form>
<a href="{{ url_for('user_bp.index') }}" class="btn btn-primary">index</a>
<a href="{{ url_for('user_bp.register') }}" class="btn btn-primary">register</a>
<a href="{{ url_for('user_bp.logout') }}" class="btn btn-primary">logout</a>
</body>
</html>